.elementor-170 .elementor-element.elementor-element-64df1bcd:not(.elementor-motion-effects-element-type-background), .elementor-170 .elementor-element.elementor-element-64df1bcd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #7A7A7A0A;
}

.elementor-170 .elementor-element.elementor-element-64df1bcd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 88px 0px 60px 0px;
}

.elementor-170 .elementor-element.elementor-element-64df1bcd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-170 .elementor-element.elementor-element-39339e19 > .elementor-element-populated {
    padding: 10px 30px 10px 10px;
}

.elementor-170 .elementor-element.elementor-element-63130775 {
    text-align: left;
}

.elementor-170 .elementor-element.elementor-element-63130775 > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .ekit_social_media {
    text-align: left;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-da8f4de > a {
    color: #3b5998;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eaebf1;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-da8f4de > a svg path {
    stroke: #3b5998;
    fill: #3b5998;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-da8f4de > a:hover {
    background-color: rgba(59, 89, 152, 0);
    box-shadow: 0px 10px 10px 0px rgba(39, 49, 113, 0.07);
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-1399011 > a {
    color: #1da1f2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eaebf1;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-1399011 > a svg path {
    stroke: #1da1f2;
    fill: #1da1f2;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-1399011 > a:hover {
    background-color: rgba(29, 161, 242, 0);
    box-shadow: 0px 10px 10px 0px rgba(39, 49, 113, 0.07);
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-8f886e8 > a {
    color: #0077b5;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eaebf1;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-8f886e8 > a svg path {
    stroke: #0077b5;
    fill: #0077b5;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-8f886e8 > a:hover {
    background-color: rgba(59, 89, 152, 0);
    box-shadow: 0px 10px 10px 0px rgba(39, 49, 113, 0.07);
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-c8596be > a {
    color: #3f729b;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #eaebf1;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-c8596be > a svg path {
    stroke: #3f729b;
    fill: #3f729b;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .elementor-repeater-item-c8596be > a:hover {
    background-color: rgba(59, 89, 152, 0);
    box-shadow: 0px 10px 10px 0px rgba(39, 49, 113, 0.07);
}

.elementor-170 .elementor-element.elementor-element-5577e27a .ekit_social_media > li > a {
    text-align: center;
    text-decoration: none;
    border-radius: 50% 50% 50% 50%;
    padding: 7px;
    width: 40px;
    height: 40px;
    line-height: 36px;
}

.elementor-170 .elementor-element.elementor-element-5577e27a .ekit_social_media > li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.elementor-170 .elementor-element.elementor-element-5577e27a > .elementor-widget-container {
    margin: 0px 0px 0px -5px;
}

.elementor-170 .elementor-element.elementor-element-5711f3c2 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-170 .elementor-element.elementor-element-5711f3c2 > .elementor-element-populated {
    padding: 0px 10px 10px 10px;
}

.elementor-170 .elementor-element.elementor-element-7ee3ea88 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
}

.elementor-170 .elementor-element.elementor-element-7ee3ea88 > .elementor-widget-container {
    margin: 2px 0px 16px 0px;
}

.elementor-170 .elementor-element.elementor-element-55577d40 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .ekit_page_list_content {
    flex-direction: row;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: #ea5356;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-item:hover .elementor-icon-list-icon svg path {
    stroke: #ea5356;
    fill: #ea5356;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-icon i {
    font-size: 6px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-icon svg {
    max-width: 6px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-text {
    color: #111111;
    padding-left: 8px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #111111;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .elementor-icon-list-item {
    font-family: "Lato", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.elementor-170 .elementor-element.elementor-element-72b28cc9 .ekit_menu_label {
    align-self: center;
}

.elementor-170 .elementor-element.elementor-element-4ab05b58 > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-5b895b02 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-170 .elementor-element.elementor-element-5b895b02 > .elementor-element-populated {
    padding: 0px 10px 10px 10px;
}

.elementor-170 .elementor-element.elementor-element-39d171db .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Lato", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
}

.elementor-170 .elementor-element.elementor-element-39d171db > .elementor-widget-container {
    margin: 2px 0px 12px 0px;
}

.elementor-170 .elementor-element.elementor-element-1b015e3 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-248d0ce2 {
    color: #111111;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-170 .elementor-element.elementor-element-27e13951:not(.elementor-motion-effects-element-type-background), .elementor-170 .elementor-element.elementor-element-27e13951 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #7A7A7A0A;
}

.elementor-170 .elementor-element.elementor-element-27e13951 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-27e13951 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-170 .elementor-element.elementor-element-5ae58889.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-5ae58889.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-170 .elementor-element.elementor-element-5ae58889 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title {
    color: var(--e-global-color-text);
    margin: 7px 0px 7px 0px;
    font-family: "Lato", Sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title > span {
    color: var(--e-global-color-accent);
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title:hover > span {
    color: var(--e-global-color-secondary);
}

.elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title span:last-child, .elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title > span {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .elementor-170 .elementor-element.elementor-element-5b895b02 > .elementor-element-populated {
        padding: 40px 10px 10px 10px;
    }

    .elementor-170 .elementor-element.elementor-element-694a9a11 > .elementor-widget-container {
        padding: 10px 5px 5px 5px;
    }
}

@media (min-width: 768px) {
    .elementor-170 .elementor-element.elementor-element-39339e19 {
        width: 35%;
    }

    .elementor-170 .elementor-element.elementor-element-5711f3c2 {
        width: 34.664%;
    }

    .elementor-170 .elementor-element.elementor-element-5b895b02 {
        width: 30%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-170 .elementor-element.elementor-element-39339e19 {
        width: 50%;
    }

    .elementor-170 .elementor-element.elementor-element-5711f3c2 {
        width: 50%;
    }

    .elementor-170 .elementor-element.elementor-element-5b895b02 {
        width: 50%;
    }
}

@media (max-width: 767px) {
    .elementor-170 .elementor-element.elementor-element-39339e19 > .elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }

    .elementor-170 .elementor-element.elementor-element-63130775 {
        text-align: center;
    }

    .elementor-170 .elementor-element.elementor-element-5577e27a .ekit_social_media {
        text-align: center;
    }

    .elementor-170 .elementor-element.elementor-element-5711f3c2 > .elementor-element-populated {
        padding: 40px 10px 10px 10px;
    }

    .elementor-170 .elementor-element.elementor-element-4ab05b58 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-170 .elementor-element.elementor-element-5ae58889.elementor-column > .elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-170 .elementor-element.elementor-element-5ae58889 > .elementor-element-populated {
        padding: 010px 0px 5px 0px;
    }

    .elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title {
        color: #000000;
    }

    .elementor-170 .elementor-element.elementor-element-694a9a11 .elementskit-section-title-wraper .elementskit-section-title > span {
        color: var(--e-global-color-accent);
    }
}