@using Website.Components.Pages
@inherits LayoutComponentBase
<div class="home page-template page-template-elementor_header_footer page page-id-25 wp-custom-logo elementor-default elementor-template-full-width elementor-kit-6 elementor-page elementor-page-25 e--ua-blink e--ua-chrome e--ua-mac e--ua-webkit data-elementor-device-mode=desktop">
    <HeaderContainer/>
    @Body
    <FooterContent/>
</div>
  
            
