@page "/about"
<div data-elementor-type="wp-page" data-elementor-id="25" class="elementor elementor-25">
<section class="elementor-section elementor-top-section elementor-element elementor-element-6efe4cd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6efe4cd" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-94443f9 animated fadeInDown" data-id="94443f9" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-59a84d4 elementor-widget elementor-widget-elementskit-heading" data-id="59a84d4" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    <span>
                                        <span>Who</span>
                                    </span> we are
                                </h2>
                                <div class="ekit-heading__description">
                                    <p>We're the company that can make your wildest dreams come true</p>
                                </div>
                                <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                    <div class="elementskit-border-divider ekit-dotted"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-0056679 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0056679" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1316f29" data-id="1316f29" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-a2986f6 elementor-widget elementor-widget-text-editor" data-id="a2986f6" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>
                                        <p>NISIR IT SOLUTION is a software development company based in Addis Ababa, Ethiopia. We are committed to developing and delivering effective, reliable, high-quality software solutions that help our customers grow their businesses.</p>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-40f089e elementor-widget elementor-widget-elementskit-button" data-id="40f089e" data-element_type="widget" data-widget_type="elementskit-button.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="ekit-btn-wraper">
                                                <a href="/about" class="elementskit-btn  whitespace--normal" id="">
                                                    EXPLORE
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-90e850e animated fadeInDown" data-id="90e850e" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-a079940 elementor-widget__width-initial elementor-widget elementor-widget-image" data-id="a079940" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img loading="lazy" decoding="async" width="400" height="416" src="image/4.png" class="attachment-large size-large wp-image-70" alt="" srcset="image/4.png 400w, image/4.png 288w" sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-6e73d46 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6e73d46" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d9c40a2" data-id="d9c40a2" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-f19d620 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box" data-id="f19d620" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <!-- end link opening -->

                            <div class="elementskit-infobox text-center text-center icon-top-align elementor-animation-   ">
                                <div class="elementskit-box-header elementor-animation-">
                                    <div class="elementskit-info-box-icon  ">
                                        @* <i aria-hidden="true" class="elementkit-infobox-icon icon icon-target-2"></i> *@
                                        <img alt="" src="image/Mission.png" class="elementkit-infobox-icon icon icon-target-2"/>
                                        
                                    </div>
                                </div>
                                <div class="box-body">
                                    <h3 class="elementskit-info-box-title">
                                        Mission
                                    </h3>
                                    <p>Create innovative tech solutions that amplify human potential and embody resilience, focus, and commitment.</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-9986f90" data-id="9986f90" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-a84ea44 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box" data-id="a84ea44" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <!-- end link opening -->

                            <div class="elementskit-infobox text-center text-center icon-top-align elementor-animation-   ">
                                <div class="elementskit-box-header elementor-animation-">
                                    <div class="elementskit-info-box-icon  ">
                                        <img alt="" src="image/Vision.png" class="lementkit-infobox-icon far fa-eye"/>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <h3 class="elementskit-info-box-title">
                                        Vision
                                    </h3>
                                    <p>Become a guiding light in the tech industry, exceeding expectations with transformative solutions.</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52db8a0" data-id="52db8a0" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-b89e6d5 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box" data-id="b89e6d5" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <!-- end link opening -->

                            <div class="elementskit-infobox text-center text-center icon-top-align elementor-animation-   ">
                                <div class="elementskit-box-header elementor-animation-">
                                    <div class="elementskit-info-box-icon  ">
                                        <img alt="" src="image/Value.png" class="elementkit-infobox-icon fas fa-hand-holding-heart"/>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <h3 class="elementskit-info-box-title">
                                        Values
                                    </h3>
                                    <p>
                                        Quality <b>|</b>
                                        Customer Satisfaction |
                                        Community Engagement |
                                        Market Expansion |
                                        Innovation |
                                        Collaborati |
                                        Financial Viability |
                                        Honesty and Integrity
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>