@page "/blog"
@inject  IJSRuntime JsRuntime

<div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
    <div data-elementor-type="wp-post" data-elementor-id="100" class="elementor elementor-100">
        <section class="elementor-section elementor-top-section elementor-element elementor-element-12ee82c elementor-section-content-middle she-header-yes 10 animated-fast elementor-section-boxed elementor-section-height-default elementor-section-height-default she-header" data-id="12ee82c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;none&quot;,&quot;transparent&quot;:&quot;yes&quot;,&quot;background_show&quot;:&quot;yes&quot;,&quot;background&quot;:&quot;#FFFFFF&quot;,&quot;animation_delay&quot;:0,&quot;scroll_distance&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;transparent_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;scroll_distance_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]},&quot;scroll_distance_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}" style="background-color: rgb(255, 255, 255);">
            <div class="elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-171fc25" data-id="171fc25" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-5e20eba elementor-widget-mobile__width-initial elementor-widget elementor-widget-image" data-id="5e20eba" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                    .elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=".svg"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>
                                <a href="/">
                                    <img width="184" height="117" src="https://www.nisirtech.com/wp-content/uploads/2023/08/logo-color.png" class="attachment-medium size-medium wp-image-154" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-da70f74" data-id="da70f74" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-4b4a2ac elementor-widget__width-initial elementor-widget elementor-widget-ekit-nav-menu" data-id="4b4a2ac" data-element_type="widget" data-widget_type="ekit-nav-menu.default">
                            <div class="elementor-widget-container">
                                <div class="ekit-wid-con ekit_menu_responsive_tablet" data-hamburger-icon="icon icon-menu-11" data-hamburger-icon-type="icon" data-responsive-breakpoint="1024">
                                    <button class="elementskit-menu-hamburger elementskit-menu-toggler" type="button" aria-label="hamburger-icon">
                                        <i aria-hidden="true" class="ekit-menu-icon icon icon-menu-11"></i>
                                    </button>
                                    <div id="ekit-megamenu-header-menu" class="elementskit-menu-container elementskit-menu-offcanvas-elements elementskit-navbar-nav-default ekit-nav-menu-one-page-no ekit-nav-dropdown-hover" ekit-dom-added="yes">
                                        <ul id="menu-header-menu" class="elementskit-navbar-nav elementskit-menu-po-right submenu-click-on-icon">
                                            <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-28 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
                                                <a href="https://www.nisirtech.com/" class="ekit-menu-nav-link">Home</a>
                                            </li>
                                            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
                                                <a href="https://www.nisirtech.com/about/" class="ekit-menu-nav-link">About</a>
                                            </li>
                                            <li id="menu-item-661" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-661 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
                                                <a href="/./#services" class="ekit-menu-nav-link">Services</a>
                                            </li>
                                            <li id="menu-item-662" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-662 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
                                                <a href="/./#why-us" class="ekit-menu-nav-link">Why Us?</a>
                                            </li>
                                            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item menu-item-23 nav-item elementskit-mobile-builder-content active" data-vertical-menu="750px">
                                                <a href="https://www.nisirtech.com/blog/" class="ekit-menu-nav-link active">Blog</a>
                                            </li>
                                            <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24 nav-item elementskit-mobile-builder-content" data-vertical-menu="750px">
                                                <a href="https://www.nisirtech.com/contact-us/" class="ekit-menu-nav-link">Contact Us</a>
                                            </li>
                                        </ul>
                                        <div class="elementskit-nav-identity-panel">
                                            <div class="elementskit-site-title">
                                                <a class="elementskit-nav-logo" href="https://www.nisirtech.com" target="_self" rel="">
                                                    <img width="100" height="64" src="https://www.nisirtech.com/wp-content/uploads/2023/08/logox100.png" class="attachment-full size-full" alt="" decoding="async">
                                                </a>
                                            </div><button class="elementskit-menu-close elementskit-menu-toggler" type="button">X</button>
                                        </div>
                                    </div>
                                    <div class="elementskit-menu-overlay elementskit-menu-offcanvas-elements elementskit-menu-toggler ekit-nav-menu--overlay"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div data-elementor-type="wp-page" data-elementor-id="11" class="elementor elementor-11">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-59d2e2eb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="59d2e2eb" data-element_type="section" id="xs_blog_sort_an_full_grid" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4676b6d3" data-id="4676b6d3" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-38a84ec elementor-widget__width-initial elementor-widget elementor-widget-elementskit-heading" data-id="38a84ec" data-element_type="widget" data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                    <h2 class="ekit-heading--title elementskit-section-title ">
                                        <span>
                                            <span>Get</span>
                                        </span> latest news and event here
                                    </h2>
                                    <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                        <div class="elementskit-border-divider ekit-dotted"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-f51657c elementor-widget elementor-widget-sina_news_ticker" data-id="f51657c" data-element_type="widget" data-widget_type="sina_news_ticker.default">
                        <div class="elementor-widget-container">
                            <div class="sina-news-ticker" data-pause="" data-speed="15">
                                <div class="sina-nt-left-label">Latest News</div>

                                <div class="sina-news-wrapper">
                                    <div id="news-container" class="sina-news-container">
                                        <div class="sina-news-content">
                                            <div class="sina-news">
                                                <a>Latest News not published yet</a>
                                            </div>
                                        </div>
                                        <div class="sina-news-content">
                                            <div class="sina-news">
                                                <a>Latest News not published yet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sina-nt-right-label sina-nt-label-both">Latest News</div>
                            </div><!-- .sina-news-ticker -->
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-520f45b elementor-widget__width-initial elementor-widget elementor-widget-elementskit-blog-posts" data-id="520f45b" data-element_type="widget" data-widget_type="elementskit-blog-posts.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div id="post-items--520f45b" class="row post-items">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
<div data-elementor-type="wp-post" data-elementor-id="170" class="elementor elementor-170">
</div>
</div>

<div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb">
    <section id="shadow-host-companion"></section>
</div>


@code {
 protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("applyTransformations", "news-container", 3, 1200,2);
           
        }
    }
}