@page "/contact-us"

<div data-elementor-type="wp-page" data-elementor-id="12" class="elementor elementor-12">
<section class="elementor-section elementor-top-section elementor-element elementor-element-023ea5e elementor-section-height-min-height element-pack-agbg-yes elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="023ea5e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;element_pack_agbg_color_list&quot;:[{&quot;_id&quot;:&quot;71fe9c9&quot;,&quot;__globals__&quot;:{&quot;start_color&quot;:&quot;globals\/colors?id=secondary&quot;,&quot;end_color&quot;:&quot;globals\/colors?id=accent&quot;},&quot;start_color&quot;:&quot;#0591F9&quot;,&quot;end_color&quot;:&quot;#fefefe&quot;},{&quot;start_color&quot;:&quot;#567445&quot;,&quot;_id&quot;:&quot;818ee94&quot;,&quot;__globals__&quot;:{&quot;end_color&quot;:&quot;globals\/colors?id=secondary&quot;},&quot;end_color&quot;:&quot;#fefefe&quot;}],&quot;element_pack_agbg_show&quot;:&quot;yes&quot;,&quot;element_pack_agbg_direction&quot;:&quot;left-right&quot;,&quot;element_pack_agbg_transitionSpeed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:&quot;&quot;,&quot;sizes&quot;:[]}}">
    <canvas id="canvas-basic-023ea5e" class="bdt-animated-gradient-background" width="1628" height="520"></canvas>
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d4f2e02" data-id="d4f2e02" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-e802207 elementor-widget elementor-widget-elementskit-heading" data-id="e802207" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">Contact Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b51d9f0 elementor-widget elementor-widget-text-editor" data-id="b51d9f0" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>
                        <p>We’re available anywhere online, but physically here. So, get in touch with us with your preferable route.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-313a637" data-id="313a637" data-element_type="column">
            <div class="elementor-widget-wrap">
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-7378843 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7378843" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cb2c30e" data-id="cb2c30e" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<section class="elementor-section elementor-inner-section elementor-element elementor-element-c7a54ae elementor-section-boxed elementor-section-height-default elementor-section-height-default animated fadeInDown" data-id="c7a54ae" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4beb009" data-id="4beb009" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-efe3614 elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="efe3614" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <link rel="stylesheet" href="https://www.nisirtech.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-icon">
                                <a href="https://t.me/nisir_IT_solutions" class="elementor-icon elementor-animation-" tabindex="-1">
                                    <i aria-hidden="true" class="fas fa-home"></i>
                                </a>
                            </div>
                            <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">
                                    <a href="https://t.me/nisir_IT_solutions">
                                        Find us on
                                    </a>
                                </h3>
                                <p class="elementor-icon-box-description">
                                    Bole Bulbula 93 mazoria, Kidus Apartment Building 1st Floor, Office no 04, Addis Ababa, Ethiopia
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e146232" data-id="e146232" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-6632a7c elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="6632a7c" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-icon">
                                <span class="elementor-icon elementor-animation-">
                                    <i aria-hidden="true" class="fas fa-phone-alt"></i>
                                </span>
                            </div>
                            <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">
                                    <span>
                                        Make a call
                                    </span>
                                </h3>
                                <p class="elementor-icon-box-description">
                                    +251995551211
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-103f0c7" data-id="103f0c7" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-c5e1673 elementor-view-stacked elementor-shape-circle elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-id="c5e1673" data-element_type="widget" data-widget_type="icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-icon-box-wrapper">
                            <div class="elementor-icon-box-icon">
                                <span class="elementor-icon elementor-animation-">
                                    <i aria-hidden="true" class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <div class="elementor-icon-box-content">
                                <h3 class="elementor-icon-box-title">
                                    <span>
                                        Drop us an email
                                    </span>
                                </h3>
                                <p class="elementor-icon-box-description">
                                    contact@nisirtech.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-cd3e42c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cd3e42c" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c8e521c" data-id="c8e521c" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-61c0985 elementor-widget elementor-widget-elementskit-heading" data-id="61c0985" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h5 class="ekit-heading--title elementskit-section-title ">
                                    <span>
                                        <span>On</span>
                                    </span> MAP
                                </h5>
                                <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                    <div class="elementskit-border-divider ekit-dotted"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-68fc55c" data-id="68fc55c" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-930ebce elementor-widget elementor-widget-elementskit-heading" data-id="930ebce" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    FOR YOUR
                                    <span>
                                        <span>COMMENT</span>
                                    </span>
                                </h2>
                                <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                    <div class="elementskit-border-divider ekit-dotted"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-900f238 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="900f238" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c6fe012" data-id="c6fe012" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-4e877c3 elementor-widget elementor-widget-google_maps" data-id="4e877c3" data-element_type="widget" data-widget_type="google_maps.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                                .elementor-widget-google_maps .elementor-widget-container{overflow:hidden}.elementor-widget-google_maps .elementor-custom-embed{line-height:0}.elementor-widget-google_maps iframe{height:300px}</style>
                        <div class="elementor-custom-embed">
                            <iframe loading="lazy" src="https://maps.google.com/maps?q=XQGC%2B5V%20%E1%8A%A0%E1%8B%B2%E1%88%B5%20%E1%8A%A0%E1%89%A0%E1%89%A3&amp;t=m&amp;z=20&amp;output=embed&amp;iwloc=near" title="XQGC+5V አዲስ አበባ" aria-label="XQGC+5V አዲስ አበባ"></iframe>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-171d3e0 elementor-widget elementor-widget-spacer" data-id="171d3e0" data-element_type="widget" data-widget_type="spacer.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                                .elementor-column .elementor-spacer-inner{height:var(--spacer-size)}.e-con{--container-widget-width:100%}.e-con-inner>.elementor-widget-spacer,.e-con>.elementor-widget-spacer{width:var(--container-widget-width,var(--spacer-size));--align-self:var(--container-widget-align-self,initial);--flex-shrink:0}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container,.e-con>.elementor-widget-spacer>.elementor-widget-container{height:100%;width:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer{height:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner{height:var(--container-widget-height,var(--spacer-size))}.e-con-inner>.elementor-widget-spacer.elementor-widget-empty,.e-con>.elementor-widget-spacer.elementor-widget-empty{position:relative;min-height:22px;min-width:22px}.e-con-inner>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon,.e-con>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;padding:0;width:22px;height:22px}</style>
                        <div class="elementor-spacer">
                            <div class="elementor-spacer-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fcd6aee" data-id="fcd6aee" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-feb2746 elementor-widget elementor-widget-shortcode" data-id="feb2746" data-element_type="widget" data-widget_type="shortcode.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-shortcode">
                            <div class="mf-form-shortcode">
                                <div id="metform-wrap-1203-1203" class="mf-form-wrapper" data-form-id="1203" data-action="https://www.nisirtech.com/wp-json/metform/v1/entries/insert/1203" data-wp-nonce="bc280f41dc" data-form-nonce="00d7a41b4a" data-quiz-summery="false" data-save-progress="false" data-form-type="general-form" data-stop-vertical-effect="">
                                    <form class="metform-form-content">
                                        <div class="mf-main-response-wrap   mf-response-msg-wrap" data-show="0">
                                            <div class="mf-response-msg">
                                                <i class="mf-success-icon "></i>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="metform-form-main-wrapper">
                                            <div data-elementor-type="wp-post" data-elementor-id="1203" class="elementor elementor-1203">
                                                <section class="elementor-section elementor-top-section elementor-element elementor-element-26ea9738 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="26ea9738" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7c8f3e4b" data-id="7c8f3e4b" data-element_type="column">
                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                <section class="elementor-section elementor-inner-section elementor-element elementor-element-6a37e2f9 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="6a37e2f9" data-element_type="section">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-24dd7809" data-id="24dd7809" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-184663a1 elementor-widget elementor-widget-mf-text" data-id="184663a1" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-first-name&quot;}" data-widget_type="mf-text.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <label class="mf-input-label" for="mf-input-text-184663a1">First Name <span class="mf-input-required-indicator">*</span></label><input type="text" class="mf-input mf-conditional-input" id="mf-input-text-184663a1" name="mf-first-name" placeholder="First name here " aria-invalid="false">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1e243baf" data-id="1e243baf" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-763108f5 elementor-widget elementor-widget-mf-text" data-id="763108f5" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-last-name&quot;}" data-widget_type="mf-text.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <label class="mf-input-label" for="mf-input-text-763108f5">Last Name <span class="mf-input-required-indicator">*</span></label><input type="text" class="mf-input mf-conditional-input" id="mf-input-text-763108f5" name="mf-last-name" placeholder="Last name here " aria-invalid="false">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <section class="elementor-section elementor-inner-section elementor-element elementor-element-3a62ea78 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="3a62ea78" data-element_type="section">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2c9a43de" data-id="2c9a43de" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-47e25ccc elementor-widget elementor-widget-mf-email" data-id="47e25ccc" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-email&quot;}" data-widget_type="mf-email.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <label class="mf-input-label" for="mf-input-email-47e25ccc">Email Address <span class="mf-input-required-indicator">*</span></label><input type="email" class="mf-input mf-conditional-input" id="mf-input-email-47e25ccc" name="mf-email" placeholder="Add email " aria-invalid="false" value="">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-676e8797" data-id="676e8797" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-20deb7b9 elementor-widget elementor-widget-mf-text" data-id="20deb7b9" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-subject&quot;}" data-widget_type="mf-text.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <label class="mf-input-label" for="mf-input-text-20deb7b9">Subject <span class="mf-input-required-indicator"></span></label><input type="text" class="mf-input mf-conditional-input" id="mf-input-text-20deb7b9" name="mf-subject" placeholder="How can we help you? " aria-invalid="false">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                                <section class="elementor-section elementor-inner-section elementor-element elementor-element-1f6daab4 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1f6daab4" data-element_type="section">
                                                                    <div class="elementor-container elementor-column-gap-default">
                                                                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-54f54cbc" data-id="54f54cbc" data-element_type="column">
                                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                                <div class="elementor-element elementor-element-7e5c045e elementor-widget elementor-widget-mf-textarea" data-id="7e5c045e" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;mf-comment&quot;}" data-widget_type="mf-textarea.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <label class="mf-input-label" for="mf-input-text-area-7e5c045e">Comments / Questions <span class="mf-input-required-indicator">*</span></label><textarea class="mf-input mf-textarea mf-conditional-input" id="mf-input-text-area-7e5c045e" name="mf-comment" placeholder="Comments " cols="30" rows="10" aria-invalid="false"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-4429ff08 elementor-widget elementor-widget-mf-recaptcha" data-id="4429ff08" data-element_type="widget" data-widget_type="mf-recaptcha.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-input-wrapper">
                                                                                            <div class="g-recaptcha cf-meta1" id="g-recaptcha" data-sitekey="6LdaSfEnAAAAAMi8eIyB_vsR7flsswtATS1--79t" data-callback="handleReCAPTCHA_1203_ufe5t" data-expired-callback="handleReCAPTCHA_1203_ufe5t" data-error-callback="handleReCAPTCHA_1203_ufe5t" aria-invalid="false">
                                                                                                <div style="width: 304px; height: 78px;">
                                                                                                    <div>
                                                                                                        <iframe title="reCAPTCHA" width="304" height="78" role="presentation" name="a-l9llapv7sqcd" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdaSfEnAAAAAMi8eIyB_vsR7flsswtATS1--79t&amp;co=aHR0cHM6Ly93d3cubmlzaXJ0ZWNoLmNvbTo0NDM.&amp;hl=en&amp;v=hfUfsXWZFeg83qqxrK27GB8P&amp;size=normal&amp;cb=mqc4ph7rm8mr"></iframe>
                                                                                                    </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                                                                                </div><iframe style="display: none;"></iframe>
                                                                                            </div><input type="hidden" name="g-recaptcha-response" class="mf-input mf-mobile-hidden" value="">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="elementor-element elementor-element-d3af341 elementor-widget__width-auto elementor-widget elementor-widget-mf-button" data-id="d3af341" data-element_type="widget" data-widget_type="mf-button.default">
                                                                                    <div class="elementor-widget-container">
                                                                                        <div class="mf-btn-wraper mf-conditional-input" data-mf-form-conditional-logic-requirement="">
                                                                                            <button type="submit" class="metform-btn metform-submit-btn " id="">
                                                                                                <span>Send Message </span>
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <!----------------------------- 
                                                        * controls_data : find the the props passed indie of data attribute
                                                        * props.SubmitResponseMarkup : contains the markup of error or success message
                                                        * https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals
                                                    --------------------------- -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
</section>
</div>
<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
<div data-elementor-type="wp-post" data-elementor-id="170" class="elementor elementor-170">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-e003b85 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e003b85" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74990d7" data-id="74990d7" data-element_type="column">
                <div class="elementor-widget-wrap">
                </div>
            </div>
        </div>
    </section>
</div>
</div>


@* <link rel="stylesheet" id="google-fonts-2-css" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.6.1" media="all"> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.9.3" id="swv-js"></script> *@
@* <script id="contact-form-7-js-extra"> *@
@*     var wpcf7 = {"api":{"root":"https:\/\/www.nisirtech.com\/wp-json\/","namespace":"contact-form-7\/v1"},"cached":"1"}; *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.9.3" id="contact-form-7-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/metform/public/assets/lib/cute-alert/cute-alert.js?ver=3.8.6" id="cute-alert-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/themes/hello-elementor/assets/js/hello-frontend.min.js?ver=3.0.1" id="hello-theme-frontend-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementskit-lite/libs/framework/assets/js/frontend-script.js?ver=3.1.0" id="elementskit-framework-js-frontend-js"></script> *@
@* <script id="elementskit-framework-js-frontend-js-after"> *@
@*     var elementskit = { *@
@*         resturl: 'https://www.nisirtech.com/wp-json/elementskit/v1/', *@
@*     } *@
@* *@
@* *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementskit-lite/widgets/init/assets/js/widget-scripts.js?ver=3.1.0" id="ekit-widget-scripts-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementor/assets/lib/font-awesome/js/v4-shims.min.js?ver=3.20.3" id="font-awesome-4-shim-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/bdthemes-element-pack-lite/assets/vendor/js/granim.min.js?ver=v2.0.0" id="granim-js"></script> *@
@* <script id="bdt-uikit-js-extra"> *@
@*     var element_pack_ajax_login_config = {"ajaxurl":"https:\/\/www.nisirtech.com\/wp-admin\/admin-ajax.php","language":"en","loadingmessage":"Sending user info, please wait...","unknownerror":"Unknown error, make sure access is correct!"}; *@
@*     var ElementPackConfig = {"ajaxurl":"https:\/\/www.nisirtech.com\/wp-admin\/admin-ajax.php","nonce":"839a549470","data_table":{"language":{"lengthMenu":"Show _MENU_ Entries","info":"Showing _START_ to _END_ of _TOTAL_ entries","search":"Search :","paginate":{"previous":"Previous","next":"Next"}}},"contact_form":{"sending_msg":"Sending message please wait...","captcha_nd":"Invisible captcha not defined!","captcha_nr":"Could not get invisible captcha response!"},"mailchimp":{"subscribing":"Subscribing you please wait..."},"search":{"more_result":"More Results","search_result":"SEARCH RESULT","not_found":"not found"},"elements_data":{"sections":[],"columns":[],"widgets":[]}}; *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/bdthemes-element-pack-lite/assets/js/bdt-uikit.min.js?ver=3.17.0" id="bdt-uikit-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.20.3" id="elementor-webpack-runtime-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.20.3" id="elementor-frontend-modules-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2" id="elementor-waypoints-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-includes/js/jquery/ui/core.min.js?ver=1.13.3" id="jquery-ui-core-js"></script> *@
@* <script id="elementor-frontend-js-before"> *@
@*     var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close","a11yCarouselWrapperAriaLabel":"Carousel | Horizontal scrolling: Arrow Left & Right","a11yCarouselPrevSlideMessage":"Previous slide","a11yCarouselNextSlideMessage":"Next slide","a11yCarouselFirstSlideMessage":"This is the first slide","a11yCarouselLastSlideMessage":"This is the last slide","a11yCarouselPaginationBulletMessage":"Go to slide"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"responsive":{"breakpoints":{"mobile":{"label":"Mobile Portrait","value":767,"default_value":767,"direction":"max","is_enabled":true},"mobile_extra":{"label":"Mobile Landscape","value":880,"default_value":880,"direction":"max","is_enabled":false},"tablet":{"label":"Tablet Portrait","value":1024,"default_value":1024,"direction":"max","is_enabled":true},"tablet_extra":{"label":"Tablet Landscape","value":1200,"default_value":1200,"direction":"max","is_enabled":false},"laptop":{"label":"Laptop","value":1366,"default_value":1366,"direction":"max","is_enabled":false},"widescreen":{"label":"Widescreen","value":2400,"default_value":2400,"direction":"min","is_enabled":false}}},"version":"3.20.3","is_static":false,"experimentalFeatures":{"e_optimized_assets_loading":true,"e_optimized_css_loading":true,"additional_custom_breakpoints":true,"e_swiper_latest":true,"hello-theme-header-footer":true,"block_editor_assets_optimize":true,"ai-layout":true,"landing-pages":true,"e_image_loading_optimization":true},"urls":{"assets":"https:\/\/www.nisirtech.com\/wp-content\/plugins\/elementor\/assets\/"},"swiperClass":"swiper","settings":{"page":[],"editorPreferences":[]},"kit":{"active_breakpoints":["viewport_mobile","viewport_tablet"],"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description","hello_header_logo_type":"logo","hello_header_menu_layout":"horizontal","hello_footer_logo_type":"logo"},"post":{"id":12,"title":"Contact%20Us%20%E2%80%93%20NISIR%20IT%20SOLUTIONS","excerpt":"","featuredImage":false}}; *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.20.3" id="elementor-frontend-js"></script><span id="elementor-device-mode" class="elementor-screen-only"></span> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/bdthemes-element-pack-lite/assets/js/modules/ep-animated-gradient-background.min.js?ver=5.5.6" id="ep-animated-gradient-background-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/metform/public/assets/js/htm.js?ver=3.8.6" id="htm-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-includes/js/dist/vendor/react.min.js?ver=18.3.1" id="react-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-includes/js/dist/vendor/react-dom.min.js?ver=18.3.1" id="react-dom-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-includes/js/dist/escape-html.min.js?ver=6561a406d2d232a6fbd2" id="wp-escape-html-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-includes/js/dist/element.min.js?ver=cb762d190aebbec25b27" id="wp-element-js"></script> *@
@* <script id="metform-app-js-extra"> *@
@*     var mf = {"postType":"page","restURI":"https:\/\/www.nisirtech.com\/wp-json\/metform\/v1\/forms\/views\/","minMsg1":"Minimum length should be ","Msg2":" character long.","maxMsg1":"Maximum length should be ","maxNum":"Maximum number should be ","minNum":"Minimum number should be "}; *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/metform/public/assets/js/app.js?ver=3.8.6" id="metform-app-js"></script> *@
@* <script src="https://google.com/recaptcha/api.js?render=explicit" id="recaptcha-v2-js" async="" defer=""></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/metform/public/assets/js/recaptcha-support.js?ver=3.8.6" id="recaptcha-support-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/bdthemes-element-pack-lite/assets/js/common/helper.min.js?ver=5.5.6" id="element-pack-helper-js"></script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementskit-lite/widgets/init/assets/js/animate-circle.min.js?ver=3.1.0" id="animate-circle-js"></script> *@
@* <script id="elementskit-elementor-js-extra"> *@
@*     var ekit_config = {"ajaxurl":"https:\/\/www.nisirtech.com\/wp-admin\/admin-ajax.php","nonce":"f9d794ee72"}; *@
@* </script> *@
@* <script src="https://www.nisirtech.com/wp-content/plugins/elementskit-lite/widgets/init/assets/js/elementor.js?ver=3.1.0" id="elementskit-elementor-js"></script> *@
@* *@


<div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb">
    <section id="shadow-host-companion"></section>
</div>
<div style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility linear 0.3s, opacity 0.3s linear; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;">
    <div style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;"></div>
    <div class="g-recaptcha-bubble-arrow" style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;"></div>
    <div class="g-recaptcha-bubble-arrow" style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;"></div>
    <div style="z-index: 2000000000; position: relative;">
        <iframe title="recaptcha challenge expires in two minutes" name="c-l9llapv7sqcd" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://google.com/recaptcha/api2/bframe?hl=en&amp;v=hfUfsXWZFeg83qqxrK27GB8P&amp;k=6LdaSfEnAAAAAMi8eIyB_vsR7flsswtATS1--79t" style="width: 100%; height: 100%;"></iframe>
    </div>
</div>


@code {

}