<div class="ekit-template-content-markup ekit-template-content-footer ekit-template-content-theme-support">
<div data-elementor-type="wp-post" data-elementor-id="170" class="elementor elementor-170">
<section class="elementor-section elementor-top-section elementor-element elementor-element-64df1bcd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="64df1bcd" data-element_type="section" id="xs_footer_13" data-settings="{&amp;quot;background_background&amp;quot;:&amp;quot;classic&amp;quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-39339e19" data-id="39339e19" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <!--!-->
                <div class="elementor-element elementor-element-63130775 elementor-widget elementor-widget-image" data-id="63130775" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <a href="/">
                            <img width="184" height="117" src="image/10.png" class="attachment-full size-full wp-image-154" alt="">
                        </a>
                    </div>
                </div>
                <div class="elementor-element elementor-element-5577e27a elementor-widget elementor-widget-elementskit-social-media" data-id="5577e27a" data-element_type="widget" data-widget_type="elementskit-social-media.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!--!--><!--!-->
                            <div class="elementor-element elementor-element-5577e27a elementor-widget elementor-widget-elementskit-social-media" data-id="5577e27a" data-element_type="widget" data-widget_type="elementskit-social-media.default">
                                <div class="elementor-widget-container">
                                    <div class="ekit-wid-con">
                                        <div class="flex justify-between">
                                            <SocialMediaLink/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--!-->
                <!--!-->
                <div class="elementor-element elementor-element-97ddf67 elementor-widget elementor-widget-shortcode" data-id="97ddf67" data-element_type="widget" data-widget_type="shortcode.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-shortcode">
                            <div class="pvc_clear"></div>
                            <p id="pvc_stats_11" class="pvc_stats all  pvc_load_by_ajax_update" data-element-id="11" style="">
                                <span>
                                    <i class="pvc-stats-icon small" aria-hidden="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 502 315" preserveAspectRatio="xMidYMid meet">
                                            <g transform="translate(0,332) scale(0.1,-0.1)" fill="" stroke="none">
                                                <path d="M2394 3279 l-29 -30 -3 -207 c-2 -182 0 -211 15 -242 39 -76 157 -76 196 0 15 31 17 60 15 243 l-3 209 -33 29 c-26 23 -41 29 -80 29 -41 0 -53 -5 -78 -31z"></path><path d="M3085 3251 c-45 -19 -58 -50 -96 -229 -47 -217 -49 -260 -13 -295 52 -53 146 -42 177 20 16 31 87 366 87 410 0 70 -86 122 -155 94z"></path><path d="M1751 3234 c-13 -9 -29 -31 -37 -50 -12 -29 -10 -49 21 -204 19 -94 39 -189 45 -210 14 -50 54 -80 110 -80 34 0 48 6 76 34 21 21 34 44 34 59 0 14 -18 113 -40 219 -37 178 -43 195 -70 221 -36 32 -101 37 -139 11z"></path><path d="M1163 3073 c-36 -7 -73 -59 -73 -102 0 -56 133 -378 171 -413 34 -32 83 -37 129 -13 70 36 67 87 -16 290 -86 209 -89 214 -129 231 -35 14 -42 15 -82 7z"></path><path d="M3689 3066 c-15 -9 -33 -30 -42 -48 -48 -103 -147 -355 -147 -375 0 -98 131 -148 192 -74 13 15 57 108 97 206 80 196 84 226 37 273 -30 30 -99 39 -137 18z"></path><path d="M583 2784 c-38 -19 -67 -74 -58 -113 9 -42 211 -354 242 -373 16 -10 45 -18 66 -18 51 0 107 52 107 100 0 39 -1 41 -124 234 -80 126 -108 162 -133 173 -41 17 -61 16 -100 -3z"></path><path d="M4250 2784 c-14 -9 -74 -91 -133 -183 -95 -150 -107 -173 -107 -213 0 -55 33 -94 87 -104 67 -13 90 8 211 198 130 202 137 225 78 284 -27 27 -42 34 -72 34 -22 0 -50 -8 -64 -16z"></path><path d="M2275 2693 c-553 -48 -1095 -270 -1585 -649 -135 -104 -459 -423 -483 -476 -23 -49 -22 -139 2 -186 73 -142 361 -457 571 -626 285 -228 642 -407 990 -497 242 -63 336 -73 660 -74 310 0 370 5 595 52 535 111 1045 392 1455 803 122 121 250 273 275 326 19 41 19 137 0 174 -41 79 -309 363 -465 492 -447 370 -946 591 -1479 653 -113 14 -422 18 -536 8z m395 -428 c171 -34 330 -124 456 -258 112 -119 167 -219 211 -378 27 -96 24 -300 -5 -401 -72 -255 -236 -447 -474 -557 -132 -62 -201 -76 -368 -76 -167 0 -236 14 -368 76 -213 98 -373 271 -451 485 -162 444 86 934 547 1084 153 49 292 57 452 25z m909 -232 c222 -123 408 -262 593 -441 76 -74 138 -139 138 -144 0 -16 -233 -242 -330 -319 -155 -123 -309 -223 -461 -299 l-81 -41 32 46 c18 26 49 83 70 128 143 306 141 649 -6 957 -25 52 -61 116 -79 142 l-34 47 45 -20 c26 -10 76 -36 113 -56z m-2057 25 c-40 -58 -105 -190 -130 -263 -110 -324 -59 -707 132 -981 25 -35 42 -64 37 -64 -19 0 -241 119 -326 174 -188 122 -406 314 -532 468 l-58 71 108 103 c185 178 428 349 672 473 66 33 121 60 123 61 2 0 -10 -19 -26 -42z"></path><path d="M2375 1950 c-198 -44 -350 -190 -395 -379 -18 -76 -8 -221 19 -290 114 -284 457 -406 731 -260 98 52 188 154 231 260 27 69 37 214 19 290 -38 163 -166 304 -326 360 -67 23 -215 33 -279 19z"></path>
                                            </g>
                                        </svg>
                                    </i>
                                    41 total views
                                    <span class="views_today">, 1 views today</span>
                                </span>
                            </p>
                            <div class="pvc_clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--!-->
        <!--!-->
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5711f3c2" data-id="5711f3c2" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-7ee3ea88 elementor-widget elementor-widget-heading" data-id="7ee3ea88" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                    .elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style>
                        <h2 class="elementor-heading-title elementor-size-default">Useful Links</h2>
                    </div>
                </div>
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-327549f5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="327549f5" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-55577d40" data-id="55577d40" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-72b28cc9 elementor-widget elementor-widget-elementskit-page-list" data-id="72b28cc9" data-element_type="widget" data-widget_type="elementskit-page-list.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="elementor-icon-list-items ">
                                                <div class="elementor-icon-list-item   ">
                                                    <a class="elementor-repeater-item-324f54e ekit_badge_left" href="/about" target="_blank" rel="nofollow">
                                                        <div class="ekit_page_list_content">
                                                            <span class="elementor-icon-list-text">
                                                                <span class="ekit_page_list_title_title">About Us</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="elementor-icon-list-item   ">
                                                    <a class="elementor-repeater-item-01d06f0 ekit_badge_left" href="#services" target="_blank" rel="nofollow">
                                                        <div class="ekit_page_list_content">
                                                            <span class="elementor-icon-list-text">
                                                                <span class="ekit_page_list_title_title">Services</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="elementor-icon-list-item   ">
                                                    <a class="elementor-repeater-item-d37dad0 ekit_badge_left" href="/contact-us" target="_blank" rel="nofollow">
                                                        <div class="ekit_page_list_content">
                                                            <span class="elementor-icon-list-text">
                                                                <span class="ekit_page_list_title_title">Contact US</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4ab05b58" data-id="4ab05b58" data-element_type="column">
                            <div class="elementor-widget-wrap"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!--!-->
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-5b895b02" data-id="5b895b02" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-39d171db elementor-widget elementor-widget-heading" data-id="39d171db" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Subscribe Now</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-1b015e3 elementor-widget elementor-widget-shortcode" data-id="1b015e3" data-element_type="widget" data-widget_type="shortcode.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-shortcode">
                            <div class="mf-form-shortcode">
                                <div id="metform-wrap-1216-1216" class="mf-form-wrapper" data-form-id="1216"   data-quiz-summery="false" data-save-progress="false" data-form-type="general-form" data-stop-vertical-effect="">
                                    <form class="metform-form-content">
                                        <div class="mf-main-response-wrap   mf-response-msg-wrap" data-show="0">
                                            <div class="mf-response-msg">
                                                <i class="mf-success-icon "></i>
                                                <p></p>
                                            </div>
                                        </div>
                                        <div class="metform-form-main-wrapper">
                                            <div data-elementor-type="wp-post" data-elementor-id="1216" class="elementor elementor-1216">
                                                <section class="elementor-section elementor-top-section elementor-element elementor-element-2eba5dc elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2eba5dc" data-element_type="section">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9ccbc5e" data-id="9ccbc5e" data-element_type="column">
                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                <div class="elementor-element elementor-element-e8a089b elementor-widget elementor-widget-mf-email" data-id="e8a089b" data-element_type="widget" data-settings="{&quot;mf_input_name&quot;:&quot;subscription-email&quot;}" data-widget_type="mf-email.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="mf-input-wrapper">
                                                                            <input type="email" class="mf-input " id="mf-input-email-e8a089b" name="subscription-email" placeholder="Your Email here " aria-invalid="false" value="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3c0655e" data-id="3c0655e" data-element_type="column">
                                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                                <div class="elementor-element elementor-element-870affc mf-btn--left elementor-widget-tablet__width-initial mf-btn--mobile-right elementor-widget elementor-widget-mf-button" data-id="870affc" data-element_type="widget" data-widget_type="mf-button.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="mf-btn-wraper " data-mf-form-conditional-logic-requirement="">
                                                                            <button type="submit" class="metform-btn metform-submit-btn " id="">
                                                                                <span>Subscribe </span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-248d0ce2 elementor-widget elementor-widget-text-editor" data-id="248d0ce2" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
                                    .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>
                        <p>Don’t miss our future updates! Get Subscribed Today!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--!-->
<!--!-->
<section class="elementor-section elementor-top-section elementor-element elementor-element-27e13951 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="27e13951" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5ae58889" data-id="5ae58889" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-694a9a11 elementor-widget elementor-widget-elementskit-heading" data-id="694a9a11" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_center   ekit_heading_tablet-   ekit_heading_mobile-text_center">
                                <a href="/">
                                    <p class="ekit-heading--title elementskit-section-title ">©@Year. <span>Raras Technologies</span>. ALL RIGHTS RESERVED</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--!-->
<section class="elementor-section elementor-top-section elementor-element elementor-element-e003b85 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e003b85" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74990d7" data-id="74990d7" data-element_type="column">
            <div class="elementor-widget-wrap"></div>
        </div>
    </div>
</section>
</div>
</div>

@code {
    private int Year = DateTime.Now.Year;
}