@page "/"
<PageTitle>Home</PageTitle>

<div class="ekit-template-content-markup ekit-template-content-header ekit-template-content-theme-support">
    <div data-elementor-type="wp-post" data-elementor-id="100" class="elementor elementor-100">

    </div>
</div>
<div data-elementor-type="wp-page" data-elementor-id="25" class="elementor elementor-25">
<section class="elementor-section elementor-top-section elementor-element elementor-element-94386b1 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="94386b1" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a7b983" data-id="7a7b983" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-529ecd5 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="529ecd5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f643e4b" data-id="f643e4b" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-09d83a5 elementor-widget__width-initial elementor-widget elementor-widget-elementskit-heading" data-id="09d83a5" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                <span class="elementskit-section-subtitle  ">
                                                    Sculpting Tomorrow Through Innovation
                                                </span>
                                                <h2 class="ekit-heading--title elementskit-section-title ">We are here to help your wildest dream come true</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-822f243" data-id="822f243" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5aea44e" data-id="5aea44e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-15bd760 sina-morphing-anim-pattern-4 elementor-widget elementor-widget-image" data-id="15bd760" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img fetchpriority="high" decoding="async" width="300" height="300" src="image/10.png" class="attachment-medium size-medium wp-image-1075" alt="" srcset="image/10.png 300w, image/10.png 150w,image/10.png 380w" sizes="(max-width: 300px) 100vw, 300px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-9b9d2c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9b9d2c6" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c6634f4" data-id="c6634f4" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-b4c727d elementor-widget-mobile__width-initial elementor-widget elementor-widget-elementskit-button" data-id="b4c727d" data-element_type="widget" data-widget_type="elementskit-button.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="ekit-btn-wraper">
                                                <a href="/about" class="elementskit-btn  whitespace--normal" id="">
                                                    About US
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-93f8e9d" data-id="93f8e9d" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-fd03848 elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-elementskit-button" data-id="fd03848" data-element_type="widget" data-widget_type="elementskit-button.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="ekit-btn-wraper">
                                                <a href="/contact-us" class="elementskit-btn  whitespace--normal" id="">
                                                    Contact US
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-37ce346" data-id="37ce346" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-3af9279" data-id="3af9279" data-element_type="column">
                            <div class="elementor-widget-wrap">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<About/>
<section class="elementor-section elementor-top-section elementor-element elementor-element-016df4d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="016df4d" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-657e4da" data-id="657e4da" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-abed47f elementor-widget elementor-widget-menu-anchor" data-id="abed47f" data-element_type="widget" data-widget_type="menu-anchor.default">
                    <div class="elementor-widget-container">
                        <style>/*! elementor - v3.20.0 - 26-03-2024 */
body.elementor-page .elementor-widget-menu-anchor{margin-bottom:0}</style>
                        <div id="services" class="elementor-menu-anchor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-c30590e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c30590e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-background-overlay"></div>
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9829f14 animated fadeInDown" data-id="9829f14" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInDown&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
    <section class="elementor-section elementor-inner-section elementor-element elementor-element-5b1b400 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5b1b400" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5425021" data-id="5425021" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-6907372 elementor-widget elementor-widget-elementskit-heading" data-id="6907372" data-element_type="widget" data-widget_type="elementskit-heading.default">
                        <div class="elementor-widget-container">
                            <div class="ekit-wid-con">
                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                    <h2 class="ekit-heading--title elementskit-section-title ">
                                        <span>
                                            <span>OUR</span>
                                        </span> Services
                                    </h2>
                                    <div class="ekit-heading__description">
                                        <p>We offer you best services</p>
                                    </div>
                                    <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                        <div class="elementskit-border-divider ekit-dotted"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b2bd786" data-id="b2bd786" data-element_type="column">
                <div class="elementor-widget-wrap">
                </div>
            </div>
        </div>
    </section>
    @* services *@
    <Services/>
<section class="elementor-section elementor-inner-section elementor-element elementor-element-28bba32 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="28bba32" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-47b8319" data-id="47b8319" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-cc8bdb4 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="cc8bdb4" data-element_type="widget" data-settings="{&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/support-coloured.png" class="attachment- size-" alt="" srcset="image/support-coloured.png 512w,image/support-coloured-300x300.png 300w, image/support-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            Quality Assurance and Testing
                                        </h3>
                                        <p>
                                            We ensure that software products and applications meet high-quality standards, perform as intended, and provide a seamless user experience.
                                        </p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-19b0852" data-id="19b0852" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-dcd5ce1 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="dcd5ce1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/a-coloured.png" class="attachment- size-" alt="" srcset="image/a-coloured.png 512w, image/a-coloured-300x300.png 300w, image/a-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            AI and ML serevices
                                        </h3>
                                        <p>We leverage cutting-edge technologies to develop innovative solutions that automate processes, gain insights from data, and enhance decision-making for businesses.</p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c9e72c1" data-id="c9e72c1" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-1ee59a1 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="1ee59a1" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/ecommerce-coloured.png" class="attachment- size-" alt="" srcset="image/ecommerce-coloured.png 512w, image/ecommerce-coloured-300x300.png 300w, image/ecommerce-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            Ecommerce Development
                                        </h3>
                                        <p>We provide a seamless and secure shopping experience, drive sales, and enhance customer satisfaction.</p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</div>
</div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-23ed4e50 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="23ed4e50" data-element_type="section" id="xs_cta_style_2" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-608f850b" data-id="608f850b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-5ca847e1 elementor-widget elementor-widget-image" data-id="5ca847e1" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img loading="lazy" decoding="async" width="545" height="536" src="image/Call_to_Actions1.png" class="attachment-large size-large wp-image-627" alt="" srcset="image/Call_to_Actions1.png 545w, image/Call_to_Actions1-300x295.png 300w" sizes="(max-width: 545px) 100vw, 545px">
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-d0ca52d" data-id="d0ca52d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-element elementor-element-f1ce545 elementor-widget elementor-widget-elementskit-heading" data-id="f1ce545" data-element_type="widget" data-widget_type="elementskit-heading.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-heading elementskit-section-title-wraper text_right   ekit_heading_tablet-   ekit_heading_mobile-">
                                <h2 class="ekit-heading--title elementskit-section-title ">
                                    <span>
                                        <span>Get</span>
                                    </span> in touch with us
                                </h2>
                                <div class="ekit-heading__description">
                                    <p>If you are interested in learning more about our services,</p>
                                    <p>please contact us today</p>
                                </div>
                                <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                    <div class="elementskit-border-divider ekit-dotted"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b690c41 elementor-widget elementor-widget-elementskit-button" data-id="b690c41" data-element_type="widget" data-widget_type="elementskit-button.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <div class="ekit-btn-wraper">
                                <a href="/contact-us" class="elementskit-btn  whitespace--normal" id="">
                                    Contact Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2b1c8387" data-id="2b1c8387" data-element_type="column">
            <div class="elementor-widget-wrap">
            </div>
        </div>
    </div>
</section>
<section class="elementor-section elementor-top-section elementor-element elementor-element-8dc7120 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8dc7120" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3009b2c" data-id="3009b2c" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-8359f3d elementor-widget elementor-widget-menu-anchor" data-id="8359f3d" data-element_type="widget" data-widget_type="menu-anchor.default">
                    <div class="elementor-widget-container">
                        <div id="why-us" class="elementor-menu-anchor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* why us *@
<Why_Us/>
<Blog/>
</div>
<div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb">
    <section id="shadow-host-companion"></section>
</div>