@page "/services"
<section class="elementor-section elementor-inner-section elementor-element elementor-element-06013b2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="06013b2" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cfea269" data-id="cfea269" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-1a4959c ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="1a4959c" data-element_type="widget" data-settings="{&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/web-dev-coloured.png" class="attachment- size-" alt="" srcset="image/web-dev-coloured.png 512w, image/web-dev-coloured-300x300.png 300w, image/web-dev-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            Web Development
                                        </h3>
                                        <p>
                                            We create and deliver high-quality websites and web applications that meet the specific needs of clients and their target audiences.
                                        </p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e3cdc12" data-id="e3cdc12" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-acc5e2a ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="acc5e2a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/mobile-coloured.png" class="attachment- size-" alt="" srcset="image/mobile-coloured.png 512w, image/mobile-coloured-300x300.png 300w, image/mobile-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            Mobile App Development
                                        </h3>
                                        <p>We create innovative and user-friendly mobile applications that cater to the needs and preferences of the target audience</p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-305b7df" data-id="305b7df" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-19235a6 ekit-equal-height-enable elementor-widget elementor-widget-elementskit-icon-box animated fadeInDown" data-id="19235a6" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;ep_floating_effects_show&quot;:&quot;yes&quot;,&quot;ep_floating_effects_easing&quot;:&quot;easeInOutQuad&quot;}" data-widget_type="elementskit-icon-box.default">
                    <div class="elementor-widget-container">
                        <div class="ekit-wid-con">
                            <!-- link opening -->
                            <a href="#" class="ekit_global_links">
                                <!-- end link opening -->

                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                    <div class="elementskit-box-header">
                                        <div class="elementskit-info-box-icon text-center">
                                            <img loading="lazy" decoding="async" width="512" height="512" src="image/customization-coloured.png" class="attachment- size-" alt="" srcset="image/customization-coloured.png 512w, image/customization-coloured-300x300.png 300w, image/customization-coloured-150x150.png 150w" sizes="(max-width: 512px) 100vw, 512px">
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <h3 class="elementskit-info-box-title">
                                            Custom Software Development
                                        </h3>
                                        <p>
                                            We deliver tailored and unique software solutions that precisely meet the specific requirements and challenges of individual clients
                                        </p>
                                    </div>


                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}