<div class="elementor-element elementor-element-5577e27a elementor-widget elementor-widget-elementskit-social-media" data-id="5577e27a" data-element_type="widget" data-widget_type="elementskit-social-media.default">
    <div class="elementor-widget-container">
        <div class="ekit-wid-con">
            <div class="flex justify-between">
                <ul class="ekit_social_media flex justify-between">
                    <li class="elementor-repeater-item-da8f4de">
                        <a href="https://www.facebook.com/profile.php?id=61552789730488" target="_blank" aria-label="Facebook" class="facebook">
                            <img src="image/facebook.png" alt="" class="icon icon-facebook"/>
                            @* <i aria-hidden="true" class="icon icon-facebook"></i> *@
                        </a>
                    </li>
                    <li class="elementor-repeater-item-1399011">
                        <a href="https://t.me/nisir_IT_solutions" target="_blank" aria-label="Telegram" class="telegram">
                            @* *@
                            @* <i aria-hidden="true" class="fab fa-telegram"></i> *@
                            <img src="image/telegram.png" alt="" class="fab fa-telegram"/>
                        </a>
                    </li>
                    <li class="elementor-repeater-item-8f886e8">
                        <a href="https://www.linkedin.com/company/nisir-it-solutions/" target="_blank" aria-label="LinkedIn" class="linkedin" style="padding: 7px;">
                            <img src="image/instagram.png" alt="" class="icon icon-linkedin"/>
                        </a>
                    </li>
                    <li class="elementor-repeater-item-8f886e8">
                        <a href="https://www.linkedin.com/company/nisir-it-solutions/" target="_blank" aria-label="LinkedIn" class="linkedin">
                            <img src="image/linkedin.png" alt="" class="icon icon-linkedin"/>
                        </a>
                    </li>

                </ul>
            </div>

            
        </div>
    </div>
</div>


@code {
    
}