@page "/why-us"
<section class="elementor-section elementor-top-section elementor-element elementor-element-1462127 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1462127" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-fc7a02d" data-id="fc7a02d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-6e8c6f0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6e8c6f0" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-922bd40" data-id="922bd40" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-fc3c96f elementor-widget__width-initial elementor-widget elementor-widget-elementskit-heading" data-id="fc3c96f" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                <h2 class="ekit-heading--title elementskit-section-title ">
                                                    <span>
                                                        <span>Why</span>
                                                    </span> Choose Us?
                                                </h2>
                                                <div class="ekit-heading__description">
                                                    <p>We're here to help you succeed</p>
                                                </div>
                                                <div class="ekit_heading_separetor_wraper ekit_heading_elementskit-border-divider ekit-dotted">
                                                    <div class="elementskit-border-divider ekit-dotted"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-bea59f8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bea59f8" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b4d987" data-id="6b4d987" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4f12433 ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box" data-id="4f12433" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <a href="#" class="ekit_global_links">
                                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                                    <div class="elementskit-box-header elementor-animation-">
                                                        <div class="elementskit-info-box-icon  text-center">
                                                            <i aria-hidden="true" class="elementkit-infobox-icon far fa-check-circle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <h3 class="elementskit-info-box-title">
                                                            We are passionate and driven
                                                        </h3>
                                                        <p>We are a team of experienced and skilled software developers who are passionate about creating innovative solutions that can help businesses grow.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a911c51" data-id="a911c51" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-8dbb2ed ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box" data-id="8dbb2ed" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <a href="#" class="ekit_global_links">
                                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                                    <div class="elementskit-box-header elementor-animation-">
                                                        <div class="elementskit-info-box-icon  text-center">
                                                            <i aria-hidden="true" class="elementkit-infobox-icon icon icon-computer"></i>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <h3 class="elementskit-info-box-title">
                                                            We use the latest technologies
                                                        </h3>
                                                        <p>We use the latest technologies to ensure that our solutions are secure, scalable, and reliable.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-b444a52 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b444a52" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d3ed0dd" data-id="d3ed0dd" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-bcdc39b ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box" data-id="bcdc39b" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <a href="#" class="ekit_global_links">
                                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                                    <div class="elementskit-box-header elementor-animation-">
                                                        <div class="elementskit-info-box-icon  text-center">
                                                            <i aria-hidden="true" class="elementkit-infobox-icon fasicon icon-thumbs-up"></i>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <h3 class="elementskit-info-box-title">
                                                            We are committed to customer service.
                                                        </h3>
                                                        <p>We are always available to answer your questions and to help you with your project.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-984a09e" data-id="984a09e" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4f7a46d ekit-equal-height-disable elementor-widget elementor-widget-elementskit-icon-box" data-id="4f7a46d" data-element_type="widget" data-widget_type="elementskit-icon-box.default">
                                    <div class="elementor-widget-container">
                                        <div class="ekit-wid-con">
                                            <a href="#" class="ekit_global_links">
                                                <div class="elementskit-infobox text-left text-left icon-lef-right-aligin elementor-animation- media  ">
                                                    <div class="elementskit-box-header elementor-animation-">
                                                        <div class="elementskit-info-box-icon  text-center">
                                                            <i aria-hidden="true" class="elementkit-infobox-icon icon icon-save-money"></i>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <h3 class="elementskit-info-box-title">
                                                            We are affordable.
                                                        </h3>
                                                        <p> We offer our services at competitive rates. </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d3da6e0 elementor-hidden-tablet elementor-hidden-phone" data-id="d3da6e0" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap"></div>
        </div>
    </div>
</section>

@code {

}